<section class="hero" aria-labelledby="hero-title">
  <div class="hero__inner">
    <div class="hero__content">
      <img
        class="hero__img"
        src="/assets/exposing-the-satan-myth.png"
        alt="Exposing A Myth"
      />
      <p class="hero__subtitle">
        A SYMBOL. A METAPHOR. <br>
        NOT A BEING.
      </p>
    </div>
    <div class="hero__media">
      <img
        class="hero__img"
        src="/assets/hero-image2.png"
        alt=""
        width="640"
        height="640"
        decoding="async"
      />
      <div class="hero__cta">
        <a class="btn hero__cta-register" href="/local-presentations/">LEARN MORE</a>
      </div>
    </div>
  </div>
</section>
